<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD
  Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

  <servlet>
    <servlet-name>daoApp</servlet-name>
    <servlet-class>les11.web.daoAppServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>daoApp</servlet-name>
    <url-pattern>/daoApp</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>les11.web.MySesListener</listener-class>
   </listener>

</web-app>
